
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contents-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.title {
  font-family: Montserrat;
  font-size: 32px;
  letter-spacing: 68;
}

header {
  height: 100vh;
}

header .top {
  color: #fff;
  background: url("imgs/kv-img.png");
  background-size: cover;
  background-position: center 0;
  width: 76.4%;
  height: 86.5%;
  background-repeat: no-repeat;
  position: relative;
}

header .top .top-left .logo {
  padding: 3% 4%;
}

header .top .top-left .name a {
  text-decoration: none;
  color: #fff;
}

header .top .top-left .top-text {
  position: absolute;
  top: 60%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

header .top .top-left .top-text p {
  font-family: YuGothic;
  font-size: 20px;
}

header .top .top-left .top-text h1 {
  font-family: Montserrat;
  font-size: 62px;
}

header:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #222;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.readmore {
  width: 160px;
  background-color: #000;
}

.readmore a {
  padding: 9px 40px 11px 41px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-family: Montserrat Medium;
  font-size: 12px;
}

.topic {
  margin-top: 100px;
  height: 1260px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #F0F0F0));
  background: linear-gradient(#fff 50%, #F0F0F0 50%);
}

.topic .about {
  height: 580px;
  background-image: url("imgs/about-img-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.topic .about .aboutus {
  width: 55%;
  padding: 50px 30px 50px 30px;
  position: absolute;
  top: 110px;
  left: 50px;
  background-color: #fff;
}

.topic .about .aboutus h2 {
  padding-bottom: 30px;
}

.topic .about .aboutus p {
  font-size: 16px;
  padding-bottom: 30px;
}

.topic .topic-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 0 60px 0;
}

.topic .topic-bottom img {
  width: 100%;
}

.topic .topic-bottom h2 {
  padding-bottom: 30px;
}

.topic .topic-bottom p {
  padding: 27px 0 28px 0;
}

.latest {
  margin: 60px 0;
}

.latest .sentence {
  padding-top: 30px;
  max-width: 600px;
  margin-left: auto;
}

.latest .sentence .caption {
  border-bottom: 1px solid #ddd;
  margin-bottom: 29px;
}

.latest .sentence .caption a {
  text-decoration: none;
  color: #000;
}

.latest .sentence .caption a .date {
  font-family: Montserrat Medium;
  font-size: 10px;
  color: #CECECE;
  padding-bottom: 9px;
}

.latest .sentence .caption a .caption-link {
  font-family: YuGothic;
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
}

.latest .readmore {
  margin-left: auto;
}

.contact {
  background-color: #F2F2F2;
}

.contact .contact-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0 120px 0;
}

.contact .contact-flex .contact-text {
  padding: 72px 80px 0 0;
}

.contact .contact-flex .contact-text h2 {
  padding-bottom: 30px;
}

.contact .contact-flex .contact-text p {
  padding-bottom: 30px;
}

.contact .contact-flex .contact-img img {
  width: 100%;
}

footer {
  background-color: #525252;
  text-align: center;
  color: #fff;
  padding: 18px 0;
}

@media (max-width: 768px) {
  .contents-wrapper {
    width: 90%;
    margin: 0 auto;
  }
  .top .top-left .top-message {
    right: -15px;
  }
  .top .top-left .top-message .top-text p {
    font-size: 16px;
  }
  .top .top-left .top-message .top-text h1 {
    font-size: 54px;
  }
  .topic {
    background-color: #f0f0f0;
    height: auto;
  }
  .topic .topic-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .latest .readmore {
    margin: 0;
  }
  .contact .contact-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact .contact-flex .contact-text {
    padding: 72px 0 0 0;
  }
}
/*# sourceMappingURL=style.css.map */
